@model GoldfishAgenda.Models.ItemReadDto

<form method="post" asp-action="Update">
    <input asp-for="ItemId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Item</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ItemName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="@Model.Borrower"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="@Model.Lender"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="@Model.ItemName" class="form-control" />
                        <span asp-validation-for="@Model.ItemName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="@Model.Borrower" class="form-control" />
                        <span asp-validation-for="@Model.Borrower" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="@Model.Lender" class="form-control" />
                        <span asp-validation-for="@Model.Lender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" asp-action="Update" asp-route-Id="@Model.ItemId" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

